include ../mixin/sub-menu

header.header
    .container
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href="/")
                        img(src="/images/logo.svg", alt = "logo")

            .col-9
                .inner-menu
                    ul
                        li
                            a(href="/") Trang chu
                        li(class="sub-menu")
                            -const pathProduct = "/products"
                            a(href=pathProduct) San pham
                            +sub-menu(layoutProductCategory, pathProduct)