extends ../../layouts/default
include ../../mixin/product-layout
include ../../mixin/box-head
block main
    .container.my-3
        .row
            .col-12
                +box-head(pageTitle)

        +product-grid(products)