extends ../../layouts/default
include ../../mixin/table-tree
block main
    if(role.permissions.includes("products-category_view"))
        h1 Danh muc san pham
        .card.mb-3
            .card-header Danh sach
                .card-body
                    .row
                        .col-8
                        .col-4
                            if(role.permissions.includes("products-category_create"))
                                a(
                                    href=`${prefixAdmin}/products-category/create`
                                    class="btn btn-outline-success"
                                ) + Them moi
                    table(
                        class="table table-hover table-sm"
                        checkbox-multi
                    )
                        thead
                            tr
                                th
                                    input(type="checkbox" name="checkall")
                                th STT
                                th Hinh anh
                                th Tieu de
                                th Vi tri
                                th Trang thai
                                th Hanh dong
                        tbody
                            +table-tree(records)
    script(src="/admin/js/script.js")
    script(src="/admin/js/product.js")





