.sider
    .inner-menu
        ul
            li
                a(href=`${prefixAdmin}/dashboard`) Tong quan
                a(href=`${prefixAdmin}/products`) San pham
                a(href=`${prefixAdmin}/trash`) Thung rac